.head-box-PG{
    background-color: #102c57;
    height: 130px;
}

.head-box-PG h1{
   color: white;
   padding-top: 40px;
   padding-left: 120px;
}

.left-nav-PG{ 
    background-color: white;
    border-radius: 0;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.left-nav-row{
    height: 65px;
}

.left-nav-row-01{
    height: 65px;
    font-weight: 700;
}

.head-table-top{
    background-color: #eadbc8;
    width: 70%;
    height: 50px;
}

.head-table-top h3{
   text-align: left;
   padding-left: 15px;
   padding-top: 6px;
}

.table-n-head{
padding-top: 30px;
padding-left: 170px;
}

.PG-table{
    width: 70%;
    border-radius: 10px;
}

.table-header-PG th{
    background-color: #102c57;
    color: white;
    text-align: center;
}

.table-header-PG th:first-child {
    border-top-left-radius: 10px; 
  }
  
  .table-header-PG th:last-child {
    border-top-right-radius: 10px; 
  }

.table-body-PG tr{
    text-align: center;
  }

.name-PG-prog{
    text-align: left;
}

