.head-box-phd{
    background-color: #102c57;
    height: 130px;
}

.head-box-phd h1{
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 120px;
    color: white;
}
.left-index-phd {
    margin-left: 60px;
    margin-right: 60px;
}

.left-sidebar-phd {
    position: relative;
    top: -20px;
    z-index: 2;
    width: 250px;
    margin-left: 40px;
}

.left-sidebar-phd .card {
    text-align: center;
}

.left-sidebar-phd .list-group-item {
    font-size: 1.2rem;
    text-align: center;
}

.footer-spacing {
    margin-top: 80px;
}

.active-link {
    font-weight: bold;
    color: #007bff;
}

.left-sidebar-phd a {
    text-decoration: none;
    color: black;
}

.left-nav-phd {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 5px; /* Adjust this as needed */
    background-color: white;
    border-radius: 0;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.left-nav-row-phd{
    height: 65px;
  }

 

.head-table-top{
    background-color: #eadbc8;
    width: 70%;
    height: 50px;
}

.head-table-top h3{
   text-align: left;
   padding-left: 15px;
   padding-top: 6px;
}

.table-n-head{
padding-top: 30px;
padding-left: 170px;
width: max-content;
}

.phd-table{
    width: 70%;
    border-radius: 10px;
}

.table-header-phd th{
    background-color: #102c57;
    color: white;
    text-align: center;
}

.table-header-phd th:first-child {
    border-top-left-radius: 10px; 
  }
  
  .table-header-phd th:last-child {
    border-top-right-radius: 10px; 
  }

.table-body-phd tr{
    text-align: center;
  }

.name-phd-prog{
    text-align: left;
}

.left-nav-row-phd-01{
    font-weight: 700;
}