/* Base Styles - Full Screen */
.instru-intro {
    margin-bottom: 50px;
  }
  
  .instru-intro-heading {
    background-color: #eadbc8;
    height: 50px;
    padding-left: 20px;
    display: flex;
    width: 900px;
    align-items: center;
    color: #102C57;
  }
  
  .instru-intro-box {
    position: relative;
    background-color: #eadbc8;
    border-radius: 10px;
    border-width: 5px;
    border-color: #102C57;
    border-style: solid;
    margin-top: 30px;
    width: 90%;
    align-content: center;
    margin-left: 50px;
    padding-bottom: 20px;
    transition: background-color 0.3s ease;
}
.instru-intro-box .first-para-small {
    text-align: center;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 90px;
    text-wrap: wrap;
    font-weight: 500;
}

.instru-intro-box .small-intro-heading {
    color: #102C57;
    text-align: center;
    padding-bottom: 15px;
}

.instru-intro-box .small-intro-heading h6 {
    font-weight: 700;
}

.instru-intro-box .second-para-large {
    text-align: left;
    width: 90%;
    height: fit-content;
    padding-bottom: 40px;
    padding-left: 90px;
    text-wrap: wrap;
    font-weight: 500;
}

/* Hover effect */
.instru-intro-box:hover {
    background-color: #102C57;
}

.instru-intro-box:hover::after {
    content: "Code the Future, Ignite the Spark CSE, We Leave our Mark!";
    font-size: 40px;
    color: #eadbc8;
    text-align: center;
    padding: 10px;
    width: 80%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    word-wrap: break-word;
    visibility: visible;
}

/* Ensuring the text inside is hidden by default */
.instru-intro-box .second-para-large,
.instru-intro-box .first-para-small,
.instru-intro-box .small-intro-heading {
    visibility: visible;
}

/* Hide content when hover occurs */
.instru-intro-box:hover .second-para-large,
.instru-intro-box:hover .first-para-small,
.instru-intro-box:hover .small-intro-heading {
    visibility: hidden;
}
  
  .instru-vision-heading,
  .instru-mission-heading {
    background-color: #eadbc8;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 900px;
    color: #102C57;
  }
  
  .vision-content,
  .mission-content {
    margin-top: 30px;
    text-align: left;
    width: 80%;
  }
  
  .instru-mission {
    margin-top: 30px;
  }
  .table-header-instru th {
    background-color: #102c57;
    color: white;
    text-align: center;
  }
  
  .table-header-instru th:first-child {
    border-top-left-radius: 10px;
  }
  
  .table-header-instru th:last-child {
    border-top-right-radius: 10px;
  }
  
  .table-body-instru tr {
    text-align: center;
  }
  .head-table-top-instru h3 {
    text-align: left;
    padding-left: 15px;
    padding-top: 6px;
  }
  .instru-table {
    width: 100%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .head-table-top-instru{

    width:90% ;
    height: 50px;
    background-color: antiquewhite;
    margin-bottom: 20px;
  }
  .name-instru-prog {
    text-align: left;
  }
  .headlab h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
.instru-infra-head{
  background-color: #eadbc8;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 900px;
    color: #102C57;
}

div.infra-instru{
  
  height:fit-content;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
 column-gap: 20px;
 
}
.lab-instru{
  width: 45%;
  background-color: #102c57;
  height: 40px;
  position: relative;
  border-radius: 16px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 200px;

}
.lab-instru h4{
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
  color: rgb(249, 243, 208);
  
}
.lab-img-instru{
  width: 270px;
  height: 150px;
  margin-top: 20px;
}


.lab-eq-instru{
  margin-left: 300px;
  margin-top:-150px;
}
.instru-mi-heading{
  background-color: #eadbc8;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: #102C57;
  margin-bottom: 20px;
  width: 900px;
}
.instru-but{
  width: 50px;
  height: 20px;
  color: bisque;

}

.but-toggle-button {
  font-size: 1.2rem; /* Increase font size */
  padding: 12px 24px; /* Add padding for a larger button */
  border-radius: 10px; /* Rounded edges */
  border: none;
  background-color: #102C57; /* Blue background */
  color: #eadbc8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 60px;
  margin-top: -20px;
}

.but-toggle-button:hover {
  background-color: #030f1b; /* Darker blue on hover */
}


  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .instru-intro-heading, .instru-vision-heading, .instru-mission-heading,.instru-mi-heading {
      width: 90%;
    }
  
    .instru-intro-box {
      width: 90%;
      margin-left: 20px;
    }
  
    .vision-content, .mission-content {
      width: 90%;
      padding: 0 15px;
    }
  
    .instru-intro-box:hover::after {
      font-size: 1.5rem;
      width: 90%;
    }
    .lab-2,.lab-3 {
      width: 70%;
      margin-left: 5%;
    }
    .lab-img2 {
      width: 370px;
      margin-left: 90px;
      margin-right: auto;
  }
  .lab-eq{
    margin-left: 470px;
    margin-top: -200px;
  }
    
  }
  
  @media (max-width: 992px) {
    .instru-intro-heading, .instru-vision-heading, .instru-mission-heading,.instru-mi-heading  {
      width: 100%;
      text-align: center;
    }
  
    .instru-intro-box {
      width: 95%;
      margin-left: 10px;
      padding: 10px;
    }
  
    .vision-content, .mission-content {
      width: 95%;
    }
  
    .instru-intro-box:hover::after {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 768px) {
    .instru-intro-heading h3,
    .instru-vision-heading h3,
    .instru-mission-heading h3 
    .instru-mi-heading h3{
      font-size: 1.5rem;
    }
  
    .instru-intro-box .first-para-small,
    .instru-intro-box .second-para-large {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .instru-intro-box:hover::after {
      font-size: 1rem;
    }
    .lab-2, .lab-3 {
      width: 90%;
      margin-left: 5%;}
      .lab-img2 {
        width: 60%;
        height: auto;
        margin: 10px;
    }
    .lab-eq{
      margin-left: 370px;
      margin-top: -160px;}
  }
  
  @media (max-width: 576px) {
    .instru-intro-heading h3,
    .instru-vision-heading h3,
    .instru-mission-heading h3
    .instru-mi-heading h3 {
      font-size: 4vw;
    }
  
    .instru-intro-box {
      width: 100%;
      margin-left: 0;
      border-width: 3px;
      padding: 5px;
    }
  
    .vision-content, .mission-content {
      width: 100%;
      text-align: justify;
      padding: 5px;
    }
  
    .instru-intro-box:hover::after {
      font-size: 0.8rem;
    }
    .lab-2,.lab-3 {
      width: 100%;
      margin-left: 0;
  }
  .lab-eq{
    margin-left: 250px;
    margin-top: -120px;}

}