.bg-goldenn-1 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: -80px;
  margin-left: 480px;

}

.bg-goldenn-1 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.head-box-bh {
  background-color: #102c57;
  height: 130px;
}

.head-box-bh h1 {
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 190px;
  color: white;
}

.left-index-bh {
  margin-left: 60px;
  margin-right: 60px;
}

.left-sidebar-bh {
  position: relative;
  top: -20px;
  z-index: 2;
  width: 250px;
  margin-left: 40px;
}

.left-sidebar-bh .card {
  text-align: center;
}

.left-sidebar-bh .list-group-item {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 20px;
}

.left-sidebar-bh a {
  text-decoration: none;
  color: black;

}

.footer-spacing {
  margin-top: 80px;
}

.active-link {
  font-weight: bold;
  color: #007bff;
}

.left-nav-bh {
  position: sticky;
  top: 5px;
  background-color: white;
  border-radius: 0;
  height: 140px;
  width: 300px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.left-nav-row-bh {
  height: 65px;
}

.left-nav-row-bh-01 {
  font-weight: 700;
}

.bh-goldenn-1 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: -80px;
  margin-left: 480px;

}

.bh-goldenn-1 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.boyshostel-text1 {
  color: #000000;
  line-height: 1.6;
  width: 60%;
  margin-top: 20px;
  margin-right: -120px;
  margin-left: 480px;
  text-align: justify;
  font-size: 16px;

}

.bg-goldenn-2 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: 25px;
  margin-left: 480px;

}

.bg-goldenn-2 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.boyshostel-text2 {
  margin-top: 20px;
  margin-left: 480px;
  margin-right: 185px;
  text-align: justify;
  font-size: 16px;

}

.bg-goldenn-3 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: 25px;
  margin-left: 480px;

}

.bg-goldenn-3 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.boyshostel-text3 {
  color: #000000;
  line-height: 1.6;
  width: 25%;
  margin-top: 20px;
  margin-right: -120px;
  margin-left: 480px;
  text-align: justify;
  font-size: 16px;

}

.about-image-bh {
  width: 500px;
  height: auto;
  display: block;
  margin-left: 890px;
  margin-top: -139px;
  padding-right: 15px;
}

.apply-button-bh {
  width: 140px;
  height: 45px;
  background-color: #102C57;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 480px;
  margin-top: 70px;

}

.apply-button-bh:hover {
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;

}

.apply-button-bh:active{
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;
}


.EN-button-bh {
  width: 140px;
  height: 45px;
  background-color: #102C57;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 70px;
}

.EN-button-bh:hover {
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;
}

.HOSTEL-button-bh {
  width: 240px;
  height: 45px;
  background-color: #102C57;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 70px;

}

.HOSTEL-button-bh:hover {
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;

}

.hostel-info-table-bh {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 480px;
  margin-bottom: 40px;
}

.hostel-info-table-bh th,
.hostel-info-table-bh td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.hostel-info-table-bh th {
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.committee-table-bh {
  width: 60%;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 480px;
}

.committee-table-bh th {
  background-color: #102c57;
  color: white;
  text-align: center;
}

.committee-table-bh th:first-child {
  border-top-left-radius: 10px;
}

.committee-table-bh th:last-child {
  border-top-right-radius: 10px;
}

.committee-table-bh tr {
  text-align: center;
}

.committee-table-bh th,
.committee-table-bh td {
  border: 1px solid #ddd;
  padding: 12px;
}

.bg-goldenn-4 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: 25px;
  margin-left: 480px;
}

.bg-goldenn-4 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

/* For devices with width less than 1239px */
@media (min-width: 1440px) and (max-width: 1499px) {
  .bg-goldenn-1, .bg-goldenn-2, .bg-goldenn-3, .bg-goldenn-4 {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .boyshostel-text1, .boyshostel-text2, .boyshostel-text3 {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }

  .apply-button-bh, .EN-button-bh, .HOSTEL-button-bh {
    width: 150px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .hostel-info-table-bh, .committee-table-bh {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .head-box-bh h1 {
    font-size: 40px;
    margin-left: 50px;
  }

  .about-image-bh {
    max-width: 67%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -210px;
  }
}


@media (min-width: 1240px) and (max-width: 1439px) {
.left-nav-bh{
  margin-bottom: 100px;
}

  .bg-goldenn-1.card-header, .bg-goldenn-2.card-header, .bg-goldenn-3.bg-goldenn-3.card-header, .bg-goldenn-4.card-header {
    width: 65%;
    margin-left: 35vw;
    margin-right: 5vw;
  }

  .boyshostel-text1, .boyshostel-text2, .boyshostel-text3 {
    width: 60%;
    margin-left: 36vw;
    margin-right: 5vw;
    font-size: 15px;
  }

  .apply-button-bh, .EN-button-bh, .HOSTEL-button-bh {
    margin-left: 2vw;
    width: auto;
  }

  .The-three-buttons-bh{
    margin-top: 27vw;
    margin-left: 42vw;
  }

  .hostel-info-table-bh, .committee-table-bh {
    width: 60%;
    margin-left: 37vw;
    margin-right: 15%;
  }

  .head-box-bh h1 {
    font-size: 38px;
    margin-left: 180px;
  }

  .about-image-bh {
    width: 80%;
    margin-left: 15vw;
    margin-right: 10%;
  }
}


@media (max-width: 1239px) {
.left-nav-bh{
  margin-bottom: 100px;
  position: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

  .bg-goldenn-1.bg-goldenn-1.card-header, .bg-goldenn-2.bg-goldenn-2.card-header, .bg-goldenn-3.bg-goldenn-3.card-header, .bg-goldenn-4.bg-goldenn-4.card-header {
    width: 88%;
    margin-left: 5%;
    margin-right: 10%;
  }

  .boyshostel-text1, .boyshostel-text2, .boyshostel-text3 {
    width: 87%;
    margin-left: 6%;
    margin-right: 10%;
  }

  .apply-button-bh, .EN-button-bh, .HOSTEL-button-bh {
    margin-left: 5%;
  }

  .The-three-buttons-bh{
    margin-top: 35vw;
    margin-left: 15vw;
  }

  .hostel-info-table-bh, .committee-table-bh {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .head-box-bh h1 {
    font-size: 35px;
    margin-left: 20px;
  }

  .about-image-bh {
    margin-left: 20vw;
    margin-right: 10%;
    width: 80%;
  }
}

/* For tablets and small laptops (width between 768px and 1024px) */
@media (max-width: 1024px) {
 .left-nav-bh{
  position: center;
  margin-bottom: 100px;
  margin-left: 20vw;
  margin-right: 20vw;
 }

  .bg-goldenn-1.card-header, .bg-goldenn-2.card-header, .bg-goldenn-3.card-header, .bg-goldenn-4.card-header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .boyshostel-text1, .boyshostel-text2, .boyshostel-text3 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .apply-button-bh, .EN-button-bh, .HOSTEL-button-bh {
    margin-left: 5%;
    width: auto;
  }

  .The-three-buttons-bh{
    margin-top: 1vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .head-box-bh h1 {
    font-size: 30px;
    margin-left: 30px;
  }

  .hostel-info-table-bh, .committee-table-bh {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .about-image-bh {
    margin-top: 5%;
    margin-left: 10vw;
    margin-right: 20vw;
    width: 80%;
  }
}

/* For mobile phones (width less than 768px) */
@media (max-width: 768px) {
  .bg-goldenn-1.card-header, .bg-goldenn-2.card-header, .bg-goldenn-3.card-header, .bg-goldenn-4.card-header {
    width: 90%;
    margin-left: 5vw;
    margin-right: 0;
  }

  .bg-goldenn-1.card-header h4, .bg-goldenn-2.card-header h4, .bg-goldenn-3.card-header h4, .bg-goldenn-4.card-header h4{
    font-size: 22px;
    width: 70%;
  } 

  .left-nav-bh{
    position: center;
    margin-bottom: 100px;
    margin-left: 20vw;
    margin-right: auto;
  }

  .boyshostel-text1, .boyshostel-text2, .boyshostel-text3 {
    width: 90%;
    margin-left: 5vw;
    margin-right: 0;
    font-size: 14px;
  }

  .apply-button-bh, .EN-button-bh, .HOSTEL-button-bh {
    width: 25%;
    margin-left: 2vw;
    font-size: 12px;
  }

  .The-three-buttons-bh{
    margin-top: 50vw;
    margin-left: 10vw;
  }

  .hostel-info-table-bh, .committee-table-bh {
    width: 80%;
    margin-left: 10vw;
    margin-right: 0;
  }

  .head-box-bh h1 {
    font-size: 25px;
    margin-left: 20px;
  }

  .about-image-bh {
    width: 100%;
    margin-left: 30vw;
    margin-right: 0;
  }

  .left-nav-bh {
    width: 100%;
    top: 0;
    height: auto;
  }
}

/* For extra small devices (width less than 480px) */
@media (max-width: 480px) {
  .text-left-bh{
    width: fit-content;
    padding-inline: 30%;
    margin-inline: 0;
    font-size: 24px;
  }

  .left-sidebar-bh{
    width: 70%;
    margin-left: 0;
    padding-inline: 0;
  }

  .left-nav-bh.card{
    margin-inline: 23%;
  }

  .bg-goldenn-1 h4{
    padding-inline: 5%;
    padding-block: 3%;
    width: fit-content;
    margin-bottom: 0;
  }
  
  .boyshostel-text1{
    width: 85%;
    margin-inline: 7%;
    margin-block: 5%;
  }

  .bg-goldenn-2 h4{
    padding-inline: 5%;
    padding-block: 3%;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .boyshostel-text2{
    width: 85%;
    margin-inline: 7%;
    margin-block: 5%;
  }

  .bg-goldenn-3 h4{
    padding-inline: 5%;
    padding-block: 3%;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .boyshostel-text3{
    width: 85%;
    margin-inline: 7%;
    margin-block: 5%;
  }

  .about-image-bh{
    margin: 0;
    margin-inline: 7%;
    padding: 0%;
    width: 100%;
    height: auto;
  }

  .The-three-buttons-bh{
    margin: 0;
    margin-inline: 2%;
  }

  .apply-button-bh, .EN-button-bh, .HOSTEL-button-bh {
    font-size: 13px;
    height: 45px;
    margin-inline: 4%;
    padding-inline: 3%;
  }

  .apply-button-bh:hover, .EN-button-bh:hover, .HOSTEL-button-bh:hover{
    font-size: 10px;
  } 

  .bg-goldenn-4 h4{
    padding-inline: 5%;
    padding-block: 3%;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .head-box-bh h1 {
    font-size: 25px;
    margin-left: 25px;
    margin-top: 70px;
  }

  .hostel-info-table-bh, .committee-table-bh {
    font-size: 12px;
  }

  img.about-image-bh {
    width: 300px;
  }

  .committee-table-bh{
    margin-bottom: 5%;
    margin-top: 5%;
  }
}