.head-box-gh {
  background-color: #102c57;
  height: 130px;
}

.head-box-gh h1 {
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 190px;
  color: white;
}

.left-index-gh {
  margin-left: 60px;
  margin-right: 60px;
}

.left-sidebar-gh {
  position: relative;
  top: -20px;
  z-index: 2;
  width: 250px;
  margin-left: 40px;
}

.left-sidebar-gh .card {
  text-align: center;
}

.left-sidebar-gh .list-group-item {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 20px;
}

.left-sidebar-gh a {
  text-decoration: none;
  color: black;

}

.footer-spacing {
  margin-top: 80px;
}

.active-link {
  font-weight: bold;
  color: #007bff;
}

.left-nav-gh {
  position: sticky;
  top: 5px;
  background-color: white;
  border-radius: 0;
  height: 140px;
  width: 300px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.left-nav-row-gh {
  height: 65px;
}

.left-nav-row-gh-01 {
  font-weight: 700;
}

.gh-goldenn-1 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: -80px;
  margin-left: 480px;

}

.gh-goldenn-1 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.girlshostel-text1 {
  color: #000000;
  line-height: 1.6;
  width: 60%;
  margin-top: 20px;
  margin-right: -120px;
  margin-left: 480px;
  text-align: justify;
  font-size: 16px;

}

.gh-goldenn-2 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: 25px;
  margin-left: 480px;

}

.gh-goldenn-2 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.girlshostel-text2 {
  margin-top: 20px;
  margin-left: 480px;
  margin-right: 185px;
  text-align: justify;
  font-size: 16px;

}

.gh-goldenn-3 {
  background-color: #eadbc8;
  width: 60%;
  height: 50px;
  position: relative;
  margin-right: 50px;
  margin-top: 25px;
  margin-left: 480px;

}

.gh-goldenn-3 h4 {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: #102C57;
  width: 50%;
}

.girlshostel-text3 {
  color: #000000;
  line-height: 1.6;
  width: 25%;
  margin-top: 20px;
  margin-right: -120px;
  margin-left: 480px;
  text-align: justify;
  font-size: 16px;

}

.about-image-gh {
  width: 500px;
  height: auto;
  display: block;
  margin-left: 890px;
  margin-top: -139px;
  padding-right: 15px;
}

.apply-button-gh {
  width: 140px;
  height: 45px;
  background-color: #102C57;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 480px;
  margin-top: 70px;

}

.apply-button-gh:hover {
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;

}

.EN-button-gh {
  width: 140px;
  height: 45px;
  background-color: #102C57;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 70px;
}

.EN-button-gh:hover {
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;

}

.HOSTEL-button-gh {
  width: 240px;
  height: 45px;
  background-color: #102C57;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 70px;

}

.HOSTEL-button-gh:hover {
  background-color: #eadbc8;
  border-color: #102C57;
  border-width: 2px;
  color: #102C57;
  font-size: 16px;
  font-weight: 500;

}

.hostel-info-table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 480px;
}

.hostel-info-table th,
.hostel-info-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.hostel-info-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.committee-table-gh {
  width: 60%;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 480px;
}

.committee-table-gh th {
  background-color: #102c57;
  color: white;
  text-align: center;
}

.committee-table-gh th:first-child {
  border-top-left-radius: 10px;
}

.committee-table-gh th:last-child {
  border-top-right-radius: 10px;
}

.committee-table-gh tr {
  text-align: center;
}

.committee-table-gh th,
.committee-table-gh td {
  border: 1px solid #ddd;
  padding: 12px;
}


@media (min-width: 1240px) and (max-width: 1439px) {
  .left-nav-gh{
    margin-bottom: 100px;
  }
  
    .gh-goldenn-1.card-header, .gh-goldenn-2.card-header, .gh-goldenn-3.gh-goldenn-3.card-header, .gh-goldenn-4.card-header {
      width: 65%;
      margin-left: 35vw;
      margin-right: 5vw;
    }
  
    .girlshostel-text1, .girlshostel-text2, .girlshostel-text3 {
      width: 60%;
      margin-left: 36vw;
      margin-right: 5vw;
      font-size: 15px;
    }
  
    .apply-button-gh, .EN-button-gh, .HOSTEL-button-gh {
      margin-left: 2vw;
      width: auto;
    }
  
    .The-three-buttons-gh{
      margin-top: 5vw;
      margin-left: 42vw;
    }
  
    .hostel-info-table-gh, .committee-table-gh {
      width: 60%;
      margin-left: 37vw;
      margin-right: 15%;
    }
  
    .head-box-gh h1 {
      font-size: 38px;
      margin-left: 180px;
    }
  
    .about-image-gh {
      width: 80%;
      margin-left: 50vw;
      margin-right: 10%;
      margin-top: 5vw;
    }
  }

  
  @media (max-width: 1239px) {
    .left-nav-gh{
      margin-bottom: 100px;
      position: center;
      margin-left: 25vw;
      margin-right: 25vw;
    }
    
      .gh-goldenn-1.gh-goldenn-1.card-header, .gh-goldenn-2.gh-goldenn-2.card-header, .gh-goldenn-3.gh-goldenn-3.card-header, .gh-goldenn-4.gh-goldenn-4.card-header {
        width: 88%;
        margin-left: 5%;
        margin-right: 10%;
      }
    
      .girlshostel-text1, .girlshostel-text2, .girlshostel-text3 {
        width: 87%;
        margin-left: 6%;
        margin-right: 10%;
      }
    
      .apply-button-gh, .EN-button-gh, .HOSTEL-button-gh {
        margin-left: 5%;
      }
    
      .The-three-buttons-gh{
        margin-top: 2vw;
        margin-left: 23vw;
      }
    
      .hostel-info-table, .committee-table-gh {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
      }
    
      .head-box-gh h1 {
        font-size: 35px;
        margin-left: 20px;
      }
    
      .about-image-gh {
        margin-left: 36vw;
        margin-right: 10%;
        margin-top: 5vw;
        width: 80%;
      }
    }

    /* For tablets and small laptops (width between 768px and 1024px) */
@media (max-width: 1024px) {
  .left-nav-gh{
   position: center;
   margin-bottom: 100px;
   margin-left: 20vw;
   margin-right: 20vw;
  }
 
   .gh-goldenn-1.card-header, .gh-goldenn-2.card-header, .gh-goldenn-3.card-header, .gh-goldenn-4.card-header {
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
   }
 
   .girlshostel-text1, .girlshostel-text2, .girlshostel-text3 {
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
   }
 
   .apply-button-gh, .EN-button-gh, .HOSTEL-button-gh {
     margin-left: 5%;
     width: auto;
   }
 
   .The-three-buttons-gh{
     margin-top: 1vw;
     margin-left: 20vw;
     margin-right: 10vw;
   }
 
   .head-box-gh h1 {
     font-size: 30px;
     margin-left: 30px;
   }
 
   .hostel-info-table, .committee-table-gh {
     width: 80%;
     margin-left: 10%;
     margin-right: 5%;
   }
 
   .about-image-gh {
     margin-left: 10vw;
     margin-right: 20vw;
     width: 80%;
   }
 }

 /* For mobile phones (width less than 768px) */
@media (max-width: 768px) {
  .gh-goldenn-1.card-header, .gh-goldenn-2.card-header, .gh-goldenn-3.card-header, .gh-goldenn-4.card-header {
    width: 90%;
    margin-left: 5vw;
    margin-right: 0;
  }

  .gh-goldenn-1.card-header h4, .gh-goldenn-2.card-header h4, .gh-goldenn-3.card-header h4, .gh-goldenn-4.card-header h4{
    font-size: 22px;
    width: 70%;
  } 

  .left-nav-gh{
    position: center;
    margin-bottom: 100px;
    margin-left: 10vw;
  }

  .girlshostel-text1, .girlshostel-text2, .girlshostel-text3 {
    width: 90%;
    margin-left: 5vw;
    margin-right: 0;
    font-size: 14px;
  }

  .apply-button-gh, .EN-button-gh, .HOSTEL-button-gh {
    width: 25%;
    margin-left: 2vw;
    font-size: 12px;
  }

  .The-three-buttons-gh{
    margin-top: 1vw;
    margin-left: 20vw;
  }

  .hostel-info-table, .committee-table-gh {
    width: 80%;
    margin-left: 10vw;
    margin-right: 0;
  }

  .head-box-gh h1 {
    font-size: 25px;
    margin-left: 20px;
  }

  .about-image-gh {
    width: 100%;
    margin-left: 30vw;
    margin-right: 0;
  }

  .left-nav-gh {
    width: 100%;
    top: 0;
    height: auto;
  }
}

 /* For extra small devices (width less than 480px) */
@media (max-width: 480px) {
  .text-left-gh{
    width: fit-content;
    padding-inline: 30%;
    margin-inline: 0;
    font-size: 24px;
  }

  .left-sidebar-gh{
    width: 70%;
    margin-left: 0;
    padding-inline: 0;
  }

  .left-nav-gh.card{
    margin-inline: 23%;
  }

  .gh-goldenn-1 h4, .gh-goldenn-2 h4, .gh-goldenn-3 h4{
    padding-inline: 5%;
    padding-block: 3%;
    width: fit-content;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .girlshostel-text1, .girlshostel-text2, .girlshostel-text3 {
    width: 85%;
    margin-inline: 7%;
    margin-block: 5%;
  }

  .about-image-gh{
    padding: 0;
    margin-inline: 5%;
    width: 90%;
    height: auto;
  }

  .apply-button-gh, .EN-button-gh, .HOSTEL-button-gh {
    font-size: 13px;
    height: 45px;
    margin-inline: 4%;
    padding-inline: 3%;
  }

  .The-three-buttons-gh{
    margin: 0;
    margin-inline: 2%;
  }

  .apply-button-gh:hover, .EN-button-gh:hover, .HOSTEL-button-gh:hover{
    font-size: 10px;
  } 

  .head-box-gh h1 {
    width: fit-content;
    font-size: 24px;
    padding-inline: 20%;
    margin-top: 70px;
  }

  .hostel-info-table, .committee-table {
    font-size: 12px;
  }

  img.about-image {
    width: 100px;
  }

  .committee-table-gh{
    margin-bottom: 5%;
    margin-top: 5%;
  }
}