.Carousel-container-4 {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden; 
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0px;
    left: 30px;
    width: 28%;
    height: auto;
    background-color: rgba(16, 44, 87, 0.669);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
  }
  .carousel-caption h2{
    color: white;
  }
  
  .head-box-cse{
    background-color: #102c57;
    height: 130px;
  }

  .head-box-cse h1{
    color: white;
   padding-top: 40px;
   padding-left: 120px;
  }

  .right-content-cse{
    margin-top: 200px;
  }

  .cse-carousel{
    position: relative;
  }

  .overlay-row{
    position: absolute;
  }

  .left-nav-cse{
    width: 380px;
    border-radius: 0;
    margin-left: 0px;
  }