.cont-sc-hum{
   margin: 0;
}

.dabba-sc-hum{
    margin-inline: 5%;
    margin-top: 3%;
}

.head-box-sci-hum{
    background-color: #102c57;
    height: 130px;
    padding-left: 20px;
}

.head-box-sci-hum h1 {
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    margin-top: 50px;
    color: white;
    margin-left: 64px;
}

@media (max-width: 576px){
   
    .head-box-sci-hum h1{
        font-size: 24px;
        width: fit-content;
        padding-inline: 2%;
        margin-top: 25%;
        margin-left: 0%;
    }  

}