.forgot-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 850px;
    margin-left: 490px;
    margin-top: 50px;
  }
  .head-right-top-forgot2 {
    margin-top: 50px;
    margin-left: 450px;
    height: 50px;
    max-width: 65%;
    margin-top: -400px;
    margin-right: 100px;
}

.head-right-top-forgot2 h3 {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}
  
  
  .btn-primary2 {
    
    background-color: #102C57;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 70%;
  }
  
  .btn-primary2:hover {
    background-color:#5374b7 ;
    
  }
  
  .btn-secondary2 {
    max-width: 70%;
    background-color: #102C57;
    color: #f9f9f9;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
    
  }
  
  .btn-secondary2:hover {
       background-color:#5374b7 ;
    ;
  }
  