.head-box-grivnce {
    background-color: #102c57;
    height: 130px;
    padding-left: 20px;
}

.head-box-grivnce h1 {
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    margin-top: 50px;
    color: white;
}

.left-index-grivnce {
    margin-left: 60px;
    margin-right: 60px;
}

.left-sidebar-grivnce {
    position: relative;
    top: -20px;
    z-index: 2;
    width: 250px;
    margin-left: 40px;
}

.left-sidebar-grivnce .card {
    text-align: center;
}




.footer-spacing {
    margin-top: 80px;
}

.left-sidebar-grivnce a {
    text-decoration: none;
    color: black;
}


.left-nav-grivnce {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Adjust this as needed */
    background-color: white;
    border-radius: 0;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.left-nav-row-grivnce {
    height: 56px;
}

.left-nav-row-grivnce-01 {
    font-weight: 700;
    height: 56px;
}

.head-right-top-grivnce {
    margin-top: 50px;
    margin-left: 200px;
    height: 50px;
}

.head-right-top-grivnce h3 {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

.form-section-grivnce {
    width: 65%;
    margin-top: 50px;
    margin-left: 200px;
}

.message-box {
    height: 100px;
    background-color: white;
    width: 95%;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #102c57;
}

.field-name-grivnce{
    font-weight: 500;
}

.input-box-grivnce{
    background-color: white;
    width: 95%;
    height: 45px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #102c57;
}

.whole-field-grivnce{
    margin-left: 40px;
    margin-top: 30px;
}

.branch-dd{
    width: 350px;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #102c57;
}

.sem-dd{
    width: 250px;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #102c57;
}

.sub-btn-grivnce{
    margin-left: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90px;
    font-weight: 500;
    background-color: #102c57;
}

.whole-form-grivnce{
    border-style: solid;
    border-width: 2px;
    border-color: #102c57;
    border-radius: 20px;
}

.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }
  
