.head-box-Admin-signup
 {
    background-color: #102c57;
    height: 130px;
}

.head-box-Admin-signup
 h1 {
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 85px;
    color: white;
}

.left-index-Admin-signup
 {
    margin-left: 60px;
    margin-right: 60px;
}

.left-sidebar-Admin-signup
 {
    position: relative;
    top: -20px;
    z-index: 2;
    width: 250px;
    margin-left: 40px;
}

.left-sidebar-Admin-signup
 .card {
    text-align: center;
}

.left-sidebar-Admin-signup
 .list-group-item {
    font-size: 1.2rem;
    text-align: center;
}

.footer-spacing {
    margin-top: 80px;
}

.left-sidebar-Admin-signup
 a {
    text-decoration: none;
    color: black;
}


.left-nav-Admin-signup
 {
    background-color: white;
    border-radius: 0;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.left-nav-row-Admin-signup
 {
    height: 56px;
}

.left-nav-row-Admin-signup-01 {
    font-weight: 700;
    height: 56px;
}

.head-right-top-Admin-signup
 {
    margin-top: 50px;
    margin-left: 200px;
    height: 50px;
}

.head-right-top-Admin-signup
 h3 {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

.form-section-Admin-signup
 {
    width: 65%;
    margin-top: 50px;
    margin-left: 200px;
}

.message-box {
    height: 100px;
    background-color: white;
    width: 95%;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #102c57;
}

.field-name-Admin-signup
{
    font-weight: 500;
}

.input-box-Admin-signup
{
    background-color: white;
    width: 95%;
    height: 45px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #000000;
}

.whole-field-Admin-signup
{
    margin-left: 40px;
    margin-top: 30px;
}

.commmittee-dd{
    width: 360px;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #000000;
}

.sub-btn-Admin-signup
{
    margin-left: 210px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90px;
    font-weight: 500;
    background-color: #102c57;
    border: none;
}

.whole-form-Admin-signup
{
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 20px;
    width: 75%;
    margin-left: 130px;
}

.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }
 
  .Admin-signup-logo-container {
    margin-bottom: 20px;
    margin-left: 198px;
  }
  
  .Admin-signup-logo {
    width: 100px;
    height: auto;
  }
 
.to-admin-login{
    display: flex;
    margin-bottom: 20px;
}

  .text-Admin-signup{
    margin-left: 120px;
    font-size: medium;
    font-weight: 500;
  }

 .Adminlogin-link-Admin-signup{
    margin-left: 40px;
 } 