/* Desktop View */
.Carousel-container-4 {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  bottom: 0px;
  left: 30px;
  width: 28%;
  height: auto;
  background-color: rgba(16, 44, 87, 0.669);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.carousel-caption h2 {
  color: white;
}

.more-button {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}

.more-button:hover {
  background-color: #102C57;
  color: white;
}

/* Mobile View */
@media (max-width: 768px) {
  .carousel-caption {
    left: 10px;
    width: 90%;
    bottom: 20px;
    padding: 8px 15px;
    font-size: 14px;
  }

  .carousel-caption h2 {
    font-size: 18px;
  }

  .more-button {
    padding: 5px 8px;
    font-size: 14px;
  }

  .Carousel-container-4 img {
    height: auto;
    max-height: 60vh; /* Adjust max height for smaller screens */
    width: 100%;
    object-fit: cover; /* Ensures the image covers the width and height properly without distorting */
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    left: 5px;
    width: 95%;
    bottom: 10px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .carousel-caption h2 {
    font-size: 16px;
  }

  .more-button {
    padding: 4px 6px;
    font-size: 12px;
  }

  .Carousel-container-4 img {
    height: auto;
    max-height: 50vh; /* Further adjustment for smaller screens */
    width: 100%;
    object-fit: cover;
  }
}
