footer {
    background-color: #102C57;
    color: white;
    margin: 0;
    position: relative;
    padding: 20px 0;
    left: 0;
    right: 0;
}

.footer a {
    color: white; 
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline;
}

.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.list-unstyled li a {
    color: white; 
    text-decoration: none; 
}

.list-unstyled li a:hover {
    text-decoration: underline;
}
