 

/* Basic styling */
.home-container {
    overflow-x: hidden;
}

.section-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card1 {
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #eadbc8;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-title{
    padding: 10px;
}

.card-title, .card-text, .news-btn {
    color: #102C57;
}

.card-text-news {
    height: 10vh;
    padding: 20px;
}

.news-btn {
    background-color: #102C57;
    color: white;
    border: none;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    margin: 30px;
}

.list-group{
    border-radius: 10px;
}

.list-group-items {
    background-color: #eadbc8;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.event-link {
    color: #102C57;
    text-decoration: none;
    transition: color 0.3s;
}

.event-link:hover {
    text-decoration: none;
}

.new-blink {
    background-color: #102C57;
    color: #FEFAF6;
    animation: blink 0.5s infinite alternate;
}

.news-events-section{
    margin-bottom: 50px;
}

/* Keyframes for blinking effect */
@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .news-events-section {
        flex-direction: column;
        align-items: center;
    }

    .card-img-top {
        height: 180px;
    }

    .event-section, .news-section {
        width: 90%;
    }

    .news-btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .event-section, .news-section {
        width: 100%;
    }

    .card-img-top {
        height: 150px;
    }

    .event-link {
        font-size: 0.9rem;
    }

    .news-btn {
        height: 45px;
    }
}

@media (max-width: 576px) {
    .card-img-top {
        height: 120px;
    }

    .event-link {
        font-size: 0.8rem;
    }

    .news-btn {
        font-size: 0.8rem;
        padding: 10px;
    }

    .new-blink {
        font-size: 0.7rem;
        padding: 5px;
    }
}
