
.container {
    max-width: 100vh;
}

.card{
    border-radius: 20px ;
    margin-bottom: 20px;
    background-color: #eadbc8;
    min-height: 20%;
    max-height: 70%;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.card-title{
    border-radius: 20px;
    text-align: center;
    color: #102C57;
}

.card-body{
    border-radius: 0px 0px 20px 20px;
    background-color: #eadbc8;
}

.card-text{
    background-color: #eadbc8; 
    color: #102C57;
}

.list-group-item {
    font-size: 16px;
}

.badge {
    font-size: 12px;
}

h3 {
    color: #102C57;
}

.news-container {
    width: 100vw;
}

.CarouselPage {
    height: 100vh;
}

.event-links{
    text-decoration: none;
    color: #102C57;
}

.event-links:hover{
    text-decoration: underline;
}

.list-group{
    text-align: right;
}

.event-cont li{
    background-color: #eadbc8;
}