.main-research {
   padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;
    object-fit: cover;
}

.main-research h3 {
    padding-bottom: 60px;
    margin: 0 auto;
}


