 
.bg-white-vm{
  background-color: white;
}

.bg-white-vm ul {
  padding-left: 20px;
}

.bg-white-vm ul li {
  margin-bottom: 10px;
  list-style: none;
}

.bg-white-vm img {
  max-width: 100%;
  height: auto;
  display: block;
}
.left-index-vm{
margin-left: 60px;
margin-right: 60px;
}
.bg-golden-vm{
background-color: #EADBC8;
padding: 0px;
}
  
.bg-golden-vm h4 {
  font-weight: bold;
  text-align: left;
  font-size: 28px;
  margin-left: 20px;
}

.header-design-vm{
background-color:#102C57
}

.header-align-vm{
margin-left: 130px;
}
.header-align-vm h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}
.card-content-vm{
border: none;
border-radius: none;
}
.left-sidebar-vm {
position: relative;
top: -20px;
z-index: 2;
width: 250px;
margin-left: 40px; 
}

.left-sidebar-vm .card {
text-align: center;
}

.left-sidebar-vm .list-group-item {
font-size: 1.2rem; 
text-align: center;
}
.footer-spacing{
margin-top: 80px;
}
.active-link {
font-weight: bold;
color: #007bff;
}

.left-sidebar-vm a {
text-decoration: none;
color: black;
}

.left-nav-row-vm{
  height: 65px;
}

.left-nav-vm{
  background-color: white;
    border-radius: 0;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.content-card-vm{
  padding-left: 170px;
}

/* Mobile View Adjustments */
@media (max-width: 768px){
  
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


}