.bg-white-vm{
  background-color: white;
}

.bg-white-vm ul {
  padding-left: 20px;
}

.bg-white-vm ul li {
  margin-bottom: 10px;
  list-style: none;
}

.bg-white-vm img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul.miss-vm{
  text-align: justify;
}

.left-index-vm{
margin-left: 60px;
margin-right: 60px;
flex-wrap: nowrap;
}
.bg-golden-vm{
background-color: #EADBC8;
padding: 0px;
}
  
.bg-golden-vm h4 {
  font-weight: bold;
  text-align: left;
  font-size: 28px;
  margin-left: 20px;
}

.header-design-vm{
background-color:#102C57;
height: 130px;
}


.header-align-vm h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
  margin-left: 160px;
}
.card-content-vm{
border: none;
border-radius: none;
}
.left-sidebar-vm {
position: relative;
top: -20px;
z-index: 2;
width: 250px;
margin-left: 40px; 
}

.left-sidebar-vm .card {
text-align: center;
}

.left-sidebar-vm .list-group-item {
font-size: 1.2rem; 
text-align: center;
}
.footer-spacing{
margin-top: 80px;
}
.active-link {
font-weight: bold;
color: #007bff;
}

.left-sidebar-vm a {
text-decoration: none;
color: black;
}

.left-nav-row-vm{
  height: 65px;
}

.left-nav-vm{
  position: sticky;
  top: 5px;
  background-color: white;
    border-radius: 0;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.content-card-vm{
  padding-left: 170px;
}


/* Responsive styling */
@media (max-width: 992px) {
  .header-align-vm h1 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }
  .left-index-vm {
    display: flex;
    flex-direction: column;
    }
  .card-content-vm {
    padding-left: 50px;
  }
 
  .about-image-vm {
    width: 100%;
  }
  .content-card-vm {
    width: 800px;
    padding-left: 0;
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .header-align-vm h1 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }
  .left-index-vm {
    display: flex;
    flex-direction: column;
    }
  .content-card-vm {
    padding-left: 0;
    padding-top: 20px;
  }
  .vision-img,
  .mission-img {
    width: 80%;
    margin: 0 auto;
  }
  .text-medium {
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media (max-width: 576px) {
  .header-align-vm{
    justify-content: center;
    align-items: center;
  }  
 
  .header-align-vm h1.text-left {
    width: fit-content;
    font-size: 24px;
    margin-inline: 6%;
  }

  .left-index-vm{
    margin-inline: 0;
  }
  .left-nav-vm{
    width: 65%;
    margin-inline: 17%;
  }

  .content-card-vm{
    align-items: center;
    justify-content: center;
    padding-inline: 5%;
  }

  .card-content-vm{
    padding-inline: 0;
  }

  .bg-golden-vm{
    margin-inline: 5%;
  }

  .bg-golden-vm.card-header h4{
    margin: 1vh;
   }

   .text-medium, .miss-vm{
    font-size: 14px;
    text-align: justify;
    padding-inline: 7%;
   }

  ul.text-medium{
    padding-inline: 0;
   }

   ul.miss-vm{
    padding-inline: 5%;
   }

   .bg-white-vm{
    padding-inline: 5%;
   }

  .vision-img,
  .mission-img {
    width: 50%;
    margin: 0 auto;
  }

  .left-sidebar-vm {
    width: 100%;
    margin-left: 0;
  }
  .text-medium,.miss-vm {
    font-size: 1rem;
    line-height: 1.5;
  }
  

  
}