.bg-white-pd{
  background-color: white;
}
.left-index-pd {
  margin-left: 60px;
  margin-right: 60px;
}

.bg-golden-pd {
  background-color: #EADBC8;
  padding: 0px;
}
.principal-name-pd{
 color: #102C57;
 font-size: x-large;
}
.principal-name-pd h4{
 text-align: left;
}
.bg-golden-pd h4 {
  font-weight: bold;
  text-align: left;
  font-size: 28px;
  margin-left: 20px;
}

.header-design-pd {
  background-color: #102C57;
  height: 130px;
}

.header-align-pd h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
  margin-left: 160px;
}

.card-content-pd {
  border: none;
  border-radius: none;
}
.card-content-pd p {
 margin-top: 20px;  
 font-size: 1.1rem;
 line-height: 1.6;
 text-align: justify;
}
.left-sidebar-pd {
  position: relative;
  top: -20px;
  z-index: 2;
  width: 250px;
  margin-left: 40px;
}

.left-sidebar-pd .card {
  text-align: center;
}

.left-sidebar-pd .list-group-item {
  font-size: 1.2rem;
  text-align: center;
}

.footer-spacing {
  margin-top: 80px;
}

.active-link {
  font-weight: bold;
  color: #000000;
}

.left-sidebar-pd a {
  text-decoration: none;
  color: black;
}

.left-nav-row-pd {
  height: 65px;
}

.left-nav-pd {
  position: sticky;
  top: 5px;
  background-color: white;
  border-radius: 0;
  height: 200px;
  width: 300px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.content-card-pd {
  padding-left: 170px;
}
.about-image-pd {
 max-width: 100%; 
 display: block;
 margin: 0 auto; 
 padding-top: 15px; 
}

/* Responsive adjustments */

/* Tablets (screens less than 992px) */
@media (max-width: 991px) {
  

  .header-align-pd h1 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }

  .content-card-pd {
    padding-left: 15px;
    padding-right: 10px;
  }
  .left-index-pd {
    flex-direction: column;
    align-items: left;
    
  }
  
}

/* Small tablets and large mobile devices (screens less than 768px) */
@media (max-width: 767px) {
  .header-align-pd h1 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 10rem;
  }
  .about-image-pd{
    margin-left: 10px;
    height: 280px;
    width: 530px;
  }

  .left-index-pd {
    flex-direction: column;
    align-items: left;
    
  }

  .content-card-pd {
    padding-left: 0;
  }

  .card-content-pd p {
    font-size: 1rem;
  }

  .right-row{
    align-items: center;
    align-content: center;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* Mobile devices (screens less than 576px) */
@media (max-width: 576px) {
  .header-align-pd{
    justify-content: center;
    align-items: center;
  }  
 
  .header-align-pd h1 {
    width: fit-content;
    font-size: 1.5rem;
    margin-inline: 30%;
  }

  .left-index-pd{
    margin-inline: 0;
  }
  
  .left-sidebar-pd{
    justify-content: center;
    align-items: center;
  }

  .left-nav-pd{
    width: 100%;
    margin-inline: 7%;
  }

  .bg-golden-pd.card-header{
    margin-inline: 5%;
  }

 .bg-golden-pd.card-header h4{
  margin: 1vh;
 }

  .card-content-pd p {
    font-size: 0.95rem;
  }
  .about-image-pd{
   width: 420px;
   height: 200px;
   margin: 0;
  }
  
  .content-card-pd{
    padding-inline: 4%;
  }

  .right-para-principal-desk h4{
    width: 500px;
  }

  .right-row{
    align-items: center;
    align-content: center;
    margin-left: 1%;
    margin-right: 1%;
  }
}