/* Container for the entire section */
.bada-row{
  width:70%;
}
.bg-golden {
  background-color: #eadbc8;
  width: 70%;
  height: 50px;
  position: relative;
  margin-right: 50px;
}

.card-header h4 {
  font-weight: bold;
  text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    color: #102C57;
    width: 50%;
}

.acses-section {
  padding: 40px;
  background-color: #f9f9f9;
  /* Light background for the section */
  border-radius: 8px;
}

/* Card that holds the logo */
.AcsesLogo-card {
  background-color: #102C57;
  /* Dark blue background for logo card */
  width: 450px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-left: -10px;

}

/* Styling the ACSES logo */
.acses-logo {
 
  /* Adjust width as per your design */
  border-radius: 8px;
  width: 80%;
  margin-top: 160px;

}

.logo-ka-box{
  width: 20%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: 622px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Right column text */
.acses-text{
  
  color: #000000;
  /* Darker text for readability */
  line-height: 1.6;
  width: 50%;
  margin-top: 30px;
  margin-right: -10px;
  margin-left: -10px;
  text-align: justify;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/* Title of the section */
.acses-title {
  color: #102C57;
  /* Dark blue to match the branding */
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  
}