.cse-page-div{
  position: relative;
}

body {
    overflow-x: hidden;
  }
 
 .head-box-cse{
    padding: 0;
    background-color: #102c57;
    height: 130px;
  }

  .head-box-cse h1{
    color: white;
   padding-top: 40px;
   padding-left: 120px;
  }

  .right-content-cse{
    margin-top: 30px;
    margin-left: 250px;
    width: 60%;
  }
  

  .overlay-row{
    position: absolute;
  }

  .left-nav-cse{
    width: 350px;
  border-radius: 0;
  margin-left: 85px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  position: sticky; /* Make the sidebar sticky */
  top: 10px; /* Stick to 10px from the top when scrolling */
  z-index: 100; /* Ensure it stays on top of other content */
  background-color: white;
  }

  .left-nav-row-cse{
    text-align: center;
    font-size: 1.2rem;
  }

  .left-nav-row-cse-01{
    text-align: center;
    font-size: 1.2rem;
    font-weight:700;
  }

  .left-sidebar-cse a{
    text-decoration: none;
    color: black;
   
  }

  .left-sidebar-cse{
    position: sticky;
    top: 10px; 
  }