.cse-intro-heading{
    width: 80%;
    background-color: #eadbc8;
    height: 50px;
    position: relative;
}

.cse-intro-heading h3{
    text-align: left;
    padding-left: 50px;
    color: #102C57;
}