 
.navbar-nav .dropdown-menu {
  width: auto;  
  min-width: 150px;   
}

.navbar-nav .dropdown-item {
  padding: 10px 20px;
  width: 100%;   
  text-align: justify;
}

 
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item.active {
  background-color: #007bff;   
  color: #fff;  
}

 
.dropdown-submenu .dropdown-menu {
  left: 100%;  
  top: 0;
  display: none;
  min-width: 200px;  
  position: absolute;
}
 
.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-item {
  padding: 10px 20px;
}




 

/* @media (max-width: 767.98px) {
  .dropdown-submenu .dropdown-menu {
    left: 0;
    top: 0;
    position: static;
    width: 100%; 
  }

  .dropdown-menu .dropdown-item {
    width: 100%;   
  }
} */
@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    width: 100%;
    text-align: center;
  }
  .footer {
    text-align: center;
    font-size: 0.9rem;
  }
  .container-fluid {
    padding: 0 15px;
  }

  html{
    overflow-x: hidden;
   }
}

@media (max-width: 576x){
  html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
